.navDiv {
  display: flex;
  margin: 20px;
  padding: 0px;
}

.navLink {

  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0px;
  font-size: 25px;
}

.navLink a {
  margin-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #500000;
}

.navImage {
  width: 75px;
}
