body {
  min-height: 100vh;
  margin: 20;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #ffffff 0%,#500000 100%);
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #500000;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #500000;
}

a {
  color: #FF0062;

}